// Imports
// Variables
@import 'var';

// Import Utilities for other than landing page
@import 'utilities';

// Grid item
@import 'item_grid';

// Media Queries
@import 'media';

// fullpage.js navbar
@import 'fp';

// Hamburger Menu
@import 'ham';

* {
  margin: 0;
  padding: 0;
}

body {
  // font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

// Header
#header, #footer{
  position: fixed;
  height: 50px;
  display: flex;
  width: 100%;
  background: transparent;
  z-index: 9;
  text-align: center;
  color: $dark-color;
  padding: 20px 0 0 0;

  align-items: center;
  justify-content: space-between;

  a {
    text-decoration: none;
    transition: color 0.2s;
    z-index: 3;



    &.logo {
      text-decoration: none;
      padding-left: 1.5rem;
      color: $dark-color;
      font-size: 2rem;
    }

    &:hover {
      color: $secondary-color;
    }
  }

  #main-nav {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;

      li {
        padding: 1rem 1.5rem;

        a {
          color: $dark-color;
          transition: color 0.2s;
    
          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }
}

#header {
  top: 0px;
}

#footer {
  bottom: 0px;

}

// Fullpage background
#fullpage {
  // background: $bg-image;
  background: $bg-gradient;
  background-size: cover;
  background-attachment: fixed;

  h1 {
    text-align: center;
    color: $dark-color;
  }
  
  .s1 {
    // background: $bg-image;
    background: $bg-gradient;
    background-size: cover;
    background-attachment: fixed;
    z-index: 0;

    .text-wrap {
      position: absolute;
      left: 18vw;
      top: 35vh;

      h1 {
        font-size: 5rem;
      }
    }

    .content1 {
      top: 10vh;
      left: 25vw;
      position: absolute;
      height: 80%;
      width: 66%;
      background: url(../images/cool-background.jpg);
      background-repeat: no-repeat;
      background-size: cover;

      z-index: -2;
    }
  }
  
  .s2 {
    // background: $bg-image;
    background: $bg-gradient;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .s3 {
    // background: $bg-image;
    background: $bg-gradient;
    background-size: cover;
    background-attachment: fixed;
  }
}

// other .html-pages

// About Page
#about {
  // About A
  &-a {
    .about-info {
      display: grid;
      grid-template-areas: 
        'bioimage bio bio'
        'aw1 aw2 aw3';
      grid-gap: 1.2rem;
    }

    // Grid Area
    .bio-image {
      display: block;
      margin: auto;
      grid-area: bioimage;
      max-width: 75%;
      border-right: 3px solid $secondary-color;
      border-radius: 10px;
      box-shadow: 0 5px 10px 0 rgba(0,0,0, 0.3);
    }

    .bio {
      grid-area: bio;
      border-left: 3px solid $main-color;
      padding: 0.8rem;
      border-radius: 10px;
      box-shadow: 0 5px 10px 0 rgba(0,0,0, 0.3);
    }
  
    .award-1 {
      grid-area: aw1;
      
    }
  
    .award-2 {
      grid-area: aw2;
    }
  
    .award-3 {
      grid-area: aw3;
    }

    .award-1 .fas,
    .award-2 .fas,
    .award-3 .fas {
      color: $main-color;
      margin: 1rem;
    }
  }

  // About B
  &-b {
    .progress {
      overflow: hidden;
      height: 20px;
      // Empty Progress-Bar
      background: $medium-color;
      border-radius: 50px;
      margin-bottom: 0.6rem;
      width: 50%;
      box-shadow: 0 2px 5px 0 rgba(0,0,0, 0.3);
      
      div {
        height: 100%;
        color: #fff;
        text-align: center;
        background: $main-color;
      }
    }
  }
}

// Contact
#contact {
  &-a {

    .text-fields {
      display: grid;
      grid-template-areas:
        'name email'
        'subject phone'
        'message message';
      grid-gap: 1.2rem;
      margin-bottom: 1.2rem;
  
      // Grid Areas
      .name-input {
        grid-area: name;
      }
  
      .subject-input {
        grid-area: subject;
      }
  
      .email-input {
        grid-area: email;
      }
  
      .phone-input {
        grid-area: phone;
      }
  
      .message-input {
        grid-area: message;
        height: 100px;
      }

      .text-input {
        padding: 0.5rem 1rem;
      }
    }

    .testbutton {
      display: block;
      margin: auto;
      width: 30%;
      background-color: $secondary-color;
    }
  }

  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
    }
  }

  &-c {
    text-align: center;
  }
}



// Footer
#main-footer {
  background: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: center;
    height: 5rem;
    align-items: center;

    .social .fab {
      // margin-right: 0.5rem;
      margin: 0 0.5rem 0 0.5rem;
      border: 2px $light-color solid;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;
      background: $secondary-color;

      &:hover {
        background: $main-color;
        border-color: $dark-color;;
      }
    }
  }
  a {
    text-decoration: none;
    color: $light-color;
  }

  a:hover {
    color: $dark-color;
  }
}